<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huanchengfly.tieba.feature.sign">

    <application>
        <service
            android:name="com.huanchengfly.tieba.post.services.OKSignService"
            android:exported="true"
            android:enabled="true"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":oksign">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="oksign" />
        </service>

        <receiver
            android:name="com.huanchengfly.tieba.post.receivers.BootCompleteSignReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.huanchengfly.tieba.post.activities.OKSignActivity"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.huanchengfly.tieba.post.action.OKSIGN" />
            </intent-filter>
        </activity>

        <service
            android:name="com.huanchengfly.tieba.post.services.OKSignTileService"
            android:exported="true"
            android:icon="@drawable/ic_oksign"
            android:label="@string/title_oksign"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver android:name="com.huanchengfly.tieba.post.receivers.AutoSignAlarm" />
    </application>
</manifest>
